Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-12, with the labels that each got.

#312 feat(deployments): support pull steps
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: docs, feature

#313 chore(release): update labels for grouping
  .github/release.yml
Labels: maintenance

#306 feat(deployments): add concurrency support
  docs/resources/deployment.md
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: docs

#319 feat(deployments): support multiple schedules
  docs/resources/deployment_schedule.md
  examples/resources/prefect_deployment_schedule/resource.tf
  internal/provider/helpers/base_model.go
  internal/provider/resources/deployment_schedule.go
  internal/provider/resources/deployment_schedule_test.go
Labels: docs, feature

#320 chore: move common fields into BaseModel types
  internal/provider/datasources/account.go
  internal/provider/datasources/account_role.go
  internal/provider/datasources/automation_model.go
  internal/provider/datasources/base_model.go
  internal/provider/datasources/block.go
  internal/provider/datasources/deployment.go
  internal/provider/datasources/service_account.go
  internal/provider/datasources/team.go
  internal/provider/datasources/variable.go
  internal/provider/datasources/work_pool.go
  internal/provider/datasources/workspace.go
  internal/provider/datasources/workspace_role.go
  internal/provider/resources/account.go
  internal/provider/resources/automation_model.go
  internal/provider/resources/base_model.go
  internal/provider/resources/block.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_schedule.go
  internal/provider/resources/flow.go
  internal/provider/resources/service_account.go
  internal/provider/resources/variable.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/workspace.go
  internal/provider/resources/workspace_role.go
Labels: maintenance

#322 feat(deployments): refactor pull step payload structure
  docs/data-sources/deployment.md
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/datasources/deployment.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: docs, bugfix

#326 chore: consistently validate workspace_id
  _about/CONTRIBUTING.md
  internal/client/automations.go
  internal/client/block_documents.go
  internal/client/block_schemas.go
  internal/client/block_types.go
  internal/client/collections.go
  internal/client/deployment_access.go
  internal/client/deployment_schedule.go
  internal/client/deployments.go
  internal/client/flows.go
  internal/client/util.go
  internal/client/variables.go
  internal/client/work_pools.go
  internal/client/workspace_access.go
Labels: enhancement

#327 fix(service-accounts): allow for rotating forever keys
  create-dev-testfile.sh
  docs/resources/service_account.md
  examples/resources/prefect_service_account/resource.tf
  internal/provider/resources/service_account.go
  internal/provider/resources/service_account_test.go
Labels: bugfix

#332 feat(webhooks): consolidated resource and datasource logic
  docs/data-sources/webhook.md
  docs/resources/webhook.md
  examples/data-sources/prefect_webhook/data-source.tf
  examples/resources/prefect_webhook/import.sh
  examples/resources/prefect_webhook/resource.tf
  internal/api/client.go
  internal/api/webhooks.go
  internal/client/webhooks.go
  internal/provider/datasources/webhooks.go
  internal/provider/provider.go
  internal/provider/resources/webhooks.go
  internal/provider/resources/webhooks_test.go
Labels: docs, feature

#336 fix(automations): set default value for trigger during import
  docs/resources/automation.md
  examples/resources/prefect_automation/import.sh
  internal/provider/resources/automation_resource.go
  internal/provider/resources/automation_test.go
Labels: docs, bugfix

#339 fix(automations): use SetAttribute for expect, after, and for_each
  docs/resources/automation.md
  internal/provider/resources/automation_model.go
  internal/provider/resources/automation_resource.go
  internal/provider/resources/automation_schema.go
  internal/provider/resources/automation_test.go
Labels: bugfix

#340 chore(JSON attributes): rely on Normalized for object equality
  go.mod
  internal/provider/helpers/compare.go
  internal/provider/helpers/marshal.go
  internal/provider/resources/automation_resource.go
  internal/provider/resources/automation_test.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/work_pool_test.go
  internal/testutils/helpers.go
  internal/testutils/provider.go
Labels: maintenance

#345 fix(blocks): always use user-provided HCL for .data attr
  docs/resources/block.md
  internal/provider/resources/block.go
  internal/provider/resources/block_test.go
Labels: docs, bugfix

#343 fix(deployments datasource): get by name
  docs/data-sources/deployment.md
  examples/data-sources/prefect_deployment/data-source.tf
  internal/api/deployments.go
  internal/client/deployments.go
  internal/provider/datasources/deployment.go
  internal/provider/datasources/deployment_test.go
Labels: docs, bugfix
