Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-08, with the labels that each got.

#242 Retry Workspace creation to mitigate 503s
  internal/provider/resources/workspace.go
Labels: bugfix

#243 chore(docs): add comment about prefect CLI needing to be on 3.0.0rc1 or later
  docs/data-sources/block.md
  docs/resources/block.md
  internal/provider/datasources/block.go
  internal/provider/resources/block.go
Labels: docs

#202 feat(deployment): add basic Deployment resource
  docs/resources/deployment.md
  docs/resources/flow.md
  examples/resources/prefect_deployment/import.sh
  examples/resources/prefect_deployment/resource.tf
  examples/resources/prefect_flow/import.sh
  examples/resources/prefect_flow/resource.tf
  internal/api/client.go
  internal/api/deployments.go
  internal/client/deployments.go
  internal/provider/helpers/template.go
  internal/provider/provider.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: enhancement, docs

#246 chore(account-role): update expected role counts
  docs/resources/deployment.md
  internal/provider/datasources/account_role_test.go
Labels: bugfix, maintenance

#245 feat(Deployments): support Parameters
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: enhancement, docs

#247 feat(Variable): add retries to Variable creation
  internal/provider/resources/variable.go
Labels: enhancement

#249 fix(work pools): fix work pool base job template "inconsistent values"
  go.mod
  go.sum
  internal/provider/helpers/compare.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/work_pool_test.go
Labels: bugfix

#248 fix(blocks): retain data field from config on Update
  docs/images/block-type-inspect-ref-key.png
  docs/resources/block.md
  examples/resources/prefect_block/resource.tf
  internal/provider/resources/block.go
  templates/images/block-type-inspect-ref-key.png
  templates/resources/block.md.tmpl
Labels: docs, bugfix

#250 feat(Deployments): support Job Variables
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: enhancement, docs
