Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-07, with the labels that each got.

#228 feat(accounts): support configuration under "settings"
  docs/data-sources/account.md
  docs/resources/account.md
  examples/resources/prefect_account/resource.tf
  internal/api/accounts.go
  internal/client/accounts.go
  internal/provider/datasources/account.go
  internal/provider/resources/account.go
Labels: enhancement, docs

#234 feat(service_accounts): support old key expiration
  docs/resources/service_account.md
  go.mod
  go.sum
  internal/api/service_accounts.go
  internal/provider/resources/service_account.go
  internal/provider/resources/service_account_test.go
Labels: enhancement, docs

#236 feat: add `Owner` as an option when setting an account role
  docs/data-sources/account_role.md
  docs/guides/getting-started.md
  docs/resources/service_account.md
  examples/data-sources/prefect_account_role/data-source.tf
  internal/provider/datasources/account_role.go
  internal/provider/datasources/account_role_test.go
  internal/provider/resources/service_account.go
  templates/guides/getting-started.md
Labels: docs

#237 chore: replace deprecated 'TypeWithValidate' interface
  internal/provider/customtypes/timestamp_type.go
  internal/provider/customtypes/timestamp_value.go
  internal/provider/customtypes/uuid_type.go
  internal/provider/customtypes/uuid_value.go
Labels: maintenance

#219 chore: use ephemeral workspaces in tests
  .golangci.yaml
  internal/provider/resources/block_test.go
  internal/provider/resources/variable_test.go
  internal/provider/resources/work_pool_test.go
  internal/testutils/provider.go
Labels: maintenance
