Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-10, with the labels that each got.

#262 feat(Deployments): support StorageDocumentId
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
  templates/resources/deployment.md.tmpl
Labels: docs

#263 feat(Deployments): support ParameterOpenAPISchema
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: docs

#279 Adds support for cloud-run-v2, modal work pool metadata
  docs/data-sources/worker_metadata.md
  internal/api/client.go
  internal/client/collections.go
  internal/provider/datasources/worker_metadata.go
  internal/provider/datasources/worker_metadata_test.go
Labels: docs

#282 Require workspace ID for work pools in Cloud
  docs/resources/work_pool.md
  internal/client/work_pools.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/work_pool_test.go
Labels: bug, docs

#286 Add retries to all resources and datasources
  go.mod
  go.sum
  internal/client/client.go
  internal/provider/resources/block.go
  internal/provider/resources/variable.go
  internal/provider/resources/workspace.go
  internal/utils/retry.go
Labels: enhancement

#277 fix(variable): change 'value' type to Dynamic
  docs/data-sources/variable.md
  docs/resources/variable.md
  internal/api/variables.go
  internal/provider/datasources/variable.go
  internal/provider/resources/variable.go
  internal/provider/resources/variable_test.go
Labels: enhancement, docs
