Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-05, with the labels that each got.

#176 Add BlockType, BlockTypeClient
  internal/api/blocks.go
  internal/api/client.go
  internal/client/blocks.go
Labels: enhancement

#179 fix(variables): allow workspaceID override in import arguments
  docs/resources/variable.md
  examples/resources/prefect_variable/import.sh
  internal/provider/resources/variable.go
Labels: docs

#180 Add BlockSchema HTTP client and struct model
  docs/data-sources/account_member.md
  internal/api/block_documents.go
  internal/api/block_schemas.go
  internal/api/client.go
  internal/client/block_schemas.go
Labels: enhancement, docs
