Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-11, with the labels that each got.

#297 fix(variables): add UpgradeState method to migrate existing resources
  .golangci.yaml
  .mise.toml
  create-dev-testfile.sh
  internal/provider/resources/variable.go
Labels: bugfix

#288 Docs: remove "Cloud" from resources that are not cloud-only
  docs/resources/flow.md
  docs/resources/variable.md
  docs/resources/work_pool.md
  internal/provider/resources/flow.go
  internal/provider/resources/variable.go
  internal/provider/resources/work_pool.go
Labels: docs

#299 Extend implementation of ephemeral workspaces
  internal/provider/datasources/variable_test.go
  internal/provider/datasources/work_pool_test.go
  internal/provider/datasources/worker_metadata_test.go
  internal/provider/resources/block_test.go
  internal/provider/resources/deployment_access_test.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/flow_test.go
  internal/provider/resources/variable_test.go
  internal/provider/resources/work_pool_test.go
  internal/testutils/import.go
  internal/testutils/provider.go
Labels: maintenance

#301 Finish ephemeral workspace implementation, address race conditions
  go.mod
  go.sum
  internal/provider/datasources/block_test.go
  internal/provider/datasources/workspace_test.go
  internal/provider/resources/block.go
  internal/provider/resources/deployment_access_test.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/workspace_access_test.go
  internal/provider/resources/workspace_test.go
  internal/testutils/provider.go
Labels: enhancement, maintenance

#293 feat(automations): API client and data model for request/response
  go.mod
  go.sum
  internal/api/automations.go
  internal/api/automations_test.go
  internal/client/automations.go
Labels: feature

#305 feat(automations): resource support
  docs/resources/automation.md
  examples/resources/prefect_automation/import.sh
  examples/resources/prefect_automation/resource.tf
  internal/api/automations.go
  internal/api/automations_test.go
  internal/api/client.go
  internal/client/automations.go
  internal/provider/provider.go
  internal/provider/resources/automation_model.go
  internal/provider/resources/automation_resource.go
  internal/provider/resources/automation_schema.go
  internal/provider/resources/automation_test.go
  internal/testutils/provider.go
  internal/utils/constants.go
Labels: docs, feature

#307 Deduplicate client HTTP requests
  internal/client/account_memberships.go
  internal/client/account_roles.go
  internal/client/accounts.go
  internal/client/automations.go
  internal/client/block_documents.go
  internal/client/block_schemas.go
  internal/client/block_types.go
  internal/client/collections.go
  internal/client/deployment_access.go
  internal/client/deployment_schedule.go
  internal/client/deployments.go
  internal/client/flows.go
  internal/client/service_accounts.go
  internal/client/teams.go
  internal/client/util.go
  internal/client/variables.go
  internal/client/work_pools.go
  internal/client/workspace_access.go
  internal/client/workspace_roles.go
  internal/client/workspaces.go
Labels: maintenance

#308 Add helper to run acceptance tests with secrets
  .mise.toml
  Makefile
  scripts/testacc-dev
Labels: maintenance

#310 feat(automations): datasource support
  docs/data-sources/automation.md
  examples/data-sources/prefect_automation/data-source.tf
  internal/provider/datasources/automation_datasource.go
  internal/provider/datasources/automation_model.go
  internal/provider/datasources/automation_schema.go
  internal/provider/datasources/automation_test.go
  internal/provider/provider.go
Labels: docs, feature
