Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2024-06, with the labels that each got.

#187 Add Docker Compose file for local testing
  _about/CONTRIBUTING.md
  compose.yml
  examples/provider-install-verification/main.tf
Labels: enhancement, docs

#193 Implement Read method for BlockSource
  internal/provider/resources/block.go
Labels: enhancement

#196 feat(blocks): add create/delete/import resource operations
  examples/resources/prefect_block/import.sh
  examples/resources/prefect_block/resource.tf
  internal/api/block_documents.go
  internal/api/block_schemas.go
  internal/api/block_types.go
  internal/client/block_documents.go
  internal/client/block_schemas.go
  internal/client/block_types.go
  internal/provider/helpers/cloud.go
  internal/provider/helpers/diagnostics.go
  internal/provider/provider.go
  internal/provider/resources/block.go
  internal/provider/resources/block_test.go
Labels: enhancement, docs

#198 feat(blocks): add update resource operation
  internal/api/block_documents.go
  internal/provider/resources/block.go
Labels: enhancement

#199 chore(hygiene): standardize model variable names + use planmodifiers for `created`
  internal/provider/resources/account.go
  internal/provider/resources/block.go
  internal/provider/resources/service_account.go
  internal/provider/resources/variable.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/workspace.go
  internal/provider/resources/workspace_access.go
  internal/provider/resources/workspace_role.go
Labels: enhancement

#205 chore(blocks): add acceptance tests for create, update, and import
  docs/resources/block.md
  go.mod
  go.sum
  internal/provider/provider.go
  internal/provider/resources/block.go
  internal/provider/resources/block_test.go
  internal/provider/resources/work_pool_test.go
  internal/utils/constants.go
Labels: enhancement, docs

#206 feat(blocks): add `prefect_block_access` resource for binding ACLs to Block resources
  docs/data-sources/account_member.md
  docs/data-sources/account_members.md
  docs/data-sources/service_account.md
  docs/resources/block.md
  docs/resources/block_access.md
  docs/resources/service_account.md
  examples/resources/prefect_block_access/resource.tf
  internal/api/block_documents.go
  internal/api/helpers.go
  internal/api/service_accounts.go
  internal/client/block_documents.go
  internal/provider/datasources/account_member.go
  internal/provider/datasources/service_account.go
  internal/provider/helpers/diagnostics.go
  internal/provider/provider.go
  internal/provider/resources/block.go
  internal/provider/resources/block_access.go
  internal/provider/resources/service_account.go
  internal/utils/constants.go
  internal/utils/retry.go
Labels: enhancement, docs

#207 Add 'Block' to the object support table
  README.md
Labels: docs

#209 feat(blocks): add Block data source
  README.md
  docs/data-sources/block.md
  examples/data-sources/prefect_block/data-source.tf
  internal/api/block_documents.go
  internal/client/block_documents.go
  internal/provider/datasources/block.go
  internal/provider/datasources/block_test.go
  internal/provider/provider.go
Labels: enhancement, docs

#210 chore(hygiene): add release.yml for auto-release notes
  .github/release.yml
Labels: maintenance

#211 Add Terraform logging
  go.mod
  internal/provider/provider.go
Labels: enhancement

#214 fix(blocks): add slug name to error messaging for block type/schema fetch failure
  internal/provider/resources/block.go
Labels: maintenance

#213 Improve Diagnostics consistency
  internal/provider/datasources/account.go
  internal/provider/datasources/account_member.go
  internal/provider/datasources/account_members.go
  internal/provider/datasources/account_role.go
  internal/provider/datasources/block.go
  internal/provider/datasources/service_account.go
  internal/provider/datasources/team.go
  internal/provider/datasources/teams.go
  internal/provider/datasources/variable.go
  internal/provider/datasources/work_pool.go
  internal/provider/datasources/work_pools.go
  internal/provider/datasources/worker_metadata.go
  internal/provider/datasources/workspace.go
  internal/provider/datasources/workspace_role.go
  internal/provider/helpers/diagnostics.go
  internal/provider/resources/account.go
  internal/provider/resources/block.go
  internal/provider/resources/block_access.go
  internal/provider/resources/service_account.go
  internal/provider/resources/variable.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/workspace.go
  internal/provider/resources/workspace_access.go
  internal/provider/resources/workspace_role.go
Labels: maintenance

#220 chore: ordering of release notes blocks
  .github/release.yml
Labels: maintenance

#201 feat(flow): add Flow resource
  docs/data-sources/account_members.md
  docs/resources/flow.md
  examples/data-sources/prefect_account_members/data-source.tf
  examples/resources/prefect_flow/import.sh
  examples/resources/prefect_flow/resource.tf
  internal/api/client.go
  internal/api/flows.go
  internal/client/flows.go
  internal/provider/helpers/import.go
  internal/provider/provider.go
  internal/provider/resources/flow.go
  internal/provider/resources/flow_test.go
Labels: enhancement

#221 chore: allow forked PRs to run CI/CD jobs
  .github/workflows/build-terraform-docs.yaml
  .github/workflows/labeler.yaml
  .golangci.yaml
  _about/CONTRIBUTING.md
  examples/resources/prefect_flow/resource.tf
  internal/provider/helpers/import.go
  internal/provider/resources/block_test.go
  internal/provider/resources/flow.go
Labels: maintenance
