Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2025-07, with the labels that each got.

#544 fix(deployment schedule) add RequiresReplace plan modifier
  internal/provider/resources/deployment_schedule.go
Labels: bugfix

#547 chore(CI): do not run scheduled workflows in forks
  .github/workflows/acceptance-tests-sweepers.yaml
  .github/workflows/api-tracker.yaml
  .github/workflows/update-mise-tools.yaml
Labels: maintenance

#548 fix(webhooks resource): fix `template` field in payload
  docs/resources/webhook.md
  examples/resources/prefect_webhook/resource.tf
  internal/provider/resources/webhooks.go
  internal/provider/resources/webhooks_test.go
Labels: docs, bugfix

#552 feat(block resource): add write-only data attribute
  docs/resources/block.md
  examples/resources/prefect_block/resource.tf
  internal/provider/resources/block.go
  internal/provider/resources/block_test.go
Labels: docs, feature

#554 chore(contributing): provide `dev_overrides` config
  _about/CONTRIBUTING.md
  create-dev-testfile.sh
  dev.tfrc
Labels: maintenance

#560 fix(accounts): deprecate `billing_email` field
  docs/resources/account.md
  examples/resources/prefect_account/resource.tf
  internal/api/accounts.go
  internal/provider/resources/account.go
  internal/provider/resources/account_test.go
Labels: docs, bugfix
