Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2025-03, with the labels that each got.

#396 feat: add resource for teams
  docs/resources/team.md
  examples/resources/prefect_team/import.sh
  examples/resources/prefect_team/resource.tf
  internal/api/teams.go
  internal/client/teams.go
  internal/provider/provider.go
  internal/provider/resources/team.go
  internal/provider/resources/team_test.go
Labels: docs, feature

#401 fix(deployment): account for "null" response in parameter_openapi_schema
  internal/provider/resources/deployment.go
Labels: bugfix

#398 feat: add `team_access` resource
  docs/resources/team_access.md
  examples/resources/prefect_team_access/resource.tf
  internal/api/client.go
  internal/api/team_access.go
  internal/client/team_access.go
  internal/provider/provider.go
  internal/provider/resources/team_access.go
  internal/provider/resources/team_access_test.go
  internal/provider/resources/workspace_access.go
Labels: docs, feature

#404 chore(acceptance tests): use Terraform 1.11
  .github/workflows/acceptance-tests.yaml
Labels: maintenance

#406 fix(client): retry if response is empty
  internal/client/client.go
Labels: bugfix

#405 chore(docs): add troubleshooting guide
  docs/guides/troubleshooting.md
  docs/index.md
  internal/provider/provider.go
  templates/guides/troubleshooting.md
  templates/index.md.tmpl
Labels: docs, maintenance

#402 feat: add account_member resource
  docs/resources/account_member.md
  examples/resources/prefect_account_member/import.sh
  examples/resources/prefect_account_member/resource.tf
  internal/api/account_memberships.go
  internal/client/account_memberships.go
  internal/provider/datasources/account_member.go
  internal/provider/datasources/account_members.go
  internal/provider/provider.go
  internal/provider/resources/account_member.go
  internal/provider/resources/account_member_test.go
Labels: docs, feature

#408 fix(docs): add docs/ to link paths
  docs/index.md
  templates/index.md.tmpl
Labels: docs

#407 feat(provider): get account and workspace IDs from `endpoint`
  docs/guides/getting-started.md
  docs/index.md
  examples/provider/provider.tf
  internal/provider/api_url.go
  internal/provider/api_url_test.go
  internal/provider/provider.go
  templates/guides/getting-started.md
Labels: docs, feature

#409 feat: add `user` resource
  .github/workflows/acceptance-tests.yaml
  docs/resources/user.md
  examples/resources/prefect_user/import.sh
  examples/resources/prefect_user/resource.tf
  internal/api/client.go
  internal/api/users.go
  internal/client/users.go
  internal/provider/provider.go
  internal/provider/resources/user.go
  internal/provider/resources/user_test.go
  templates/resources/user.md.tmpl
Labels: docs, feature

#411 feat(slas): add http client methods and API modeling
  internal/api/client.go
  internal/api/slas.go
  internal/client/slas.go
Labels: feature

#414 feat(deployments): support updating parameter_openapi_schema
  internal/api/deployments.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: feature

#416 feat(slas): add resource logic
  docs/resources/resource_sla.md
  examples/resources/prefect_resource_sla/resource.tf
  internal/api/slas.go
  internal/client/slas.go
  internal/provider/provider.go
  internal/provider/resources/sla.go
  internal/provider/resources/sla_test.go
Labels: docs, feature

#418 feat(user-api-key): add resource logic
  docs/resources/user.md
  docs/resources/user_api_key.md
  internal/api/users.go
  internal/client/users.go
  internal/provider/datasources/global_concurrency_limit_test.go
  internal/provider/datasources/service_account_test.go
  internal/provider/provider.go
  internal/provider/resources/service_account_test.go
  internal/provider/resources/user.go
  internal/provider/resources/user_api_key.go
  internal/provider/resources/user_api_key_test.go
  internal/provider/resources/user_test.go
  internal/provider/resources/workspace_role_test.go
Labels: docs, feature

#421 fix(flows): use correct success code
  internal/client/flows.go
  internal/client/util.go
Labels: bugfix

#419 chore(CI): fix user tests
  .github/workflows/acceptance-tests.yaml
  Makefile
  internal/provider/resources/user_api_key_test.go
  internal/provider/resources/user_test.go
  scripts/testacc-dev-user
Labels: maintenance

#423 fix(work-pools/work-queues): queue create if remote object deleted
  internal/client/client.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/work_queue.go
Labels: enhancement

#427 chore(PR template): mention doc-preview tool
  .github/pull_request_template.md
Labels: maintenance

#430 fix(worker-metadata): map prefect:managed template types
  Makefile
  docs/data-sources/worker_metadata.md
  docs/resources/work_pool.md
  examples/resources/prefect_work_pool/resource.tf
  internal/provider/datasources/worker_metadata.go
  internal/provider/datasources/worker_metadata_test.go
Labels: docs, bugfix

#428 fix deprecation warning in .goreleaser.yml
  .goreleaser.yml
Labels: maintenance

#431 feat(flows): support updating flows without replacement
  internal/api/flows.go
  internal/provider/resources/flow.go
Labels: feature

#432 docs(deployment): provide 'credentials' example in pull_steps
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
Labels: docs
