Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2025-04, with the labels that each got.

#433 chore(docs): touch up the README
  README.md
Labels: docs

#438 fix(work-pools): omit base job template if not defined
  docs/resources/work_pool.md
  examples/resources/prefect_work_pool/resource.tf
  internal/api/work_pools.go
  internal/provider/resources/work_pool.go
Labels: docs, bugfix

#439 fix(ci): use head.sha in terraform docs job
  .github/workflows/build-terraform-docs.yaml
Labels: maintenance

#434 chore(docs): Update troubleshooting to include redirect context
  docs/guides/troubleshooting.md
  templates/guides/troubleshooting.md
Labels: docs

#388 chore: add helpers to monitor API parity
  .github/workflows/api-tracker.yaml
  .gitignore
  scripts/compare-and-output-markdown.py
  scripts/compare.go
  scripts/compare.sh
  scripts/scripts.md
Labels: maintenance

#480 chore(go): update to 1.24.1, remove separate toolchain version
  go.mod
Labels: maintenance

#481 chore(docs): mention API parity document
  README.md
Labels: docs, maintenance

#483 chore: use customtypes.UUID for all IDs
  docs/resources/deployment.md
  internal/api/account_memberships.go
  internal/provider/datasources/account_member.go
  internal/provider/datasources/account_members.go
  internal/provider/datasources/deployment.go
  internal/provider/datasources/global_concurrency_limit.go
  internal/provider/resources/account.go
  internal/provider/resources/account_member.go
  internal/provider/resources/automation_resource.go
  internal/provider/resources/automation_schema.go
  internal/provider/resources/base_model.go
  internal/provider/resources/block.go
  internal/provider/resources/deployment.go
  internal/provider/resources/flow.go
  internal/provider/resources/global_concurrency_limit.go
  internal/provider/resources/service_account.go
  internal/provider/resources/task_run_concurrency_limit.go
  internal/provider/resources/team.go
  internal/provider/resources/team_access.go
  internal/provider/resources/user.go
  internal/provider/resources/user_api_key.go
  internal/provider/resources/variable.go
  internal/provider/resources/webhooks.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/work_queue.go
  internal/provider/resources/workspace.go
  internal/provider/resources/workspace_access.go
  internal/provider/resources/workspace_role.go
Labels: docs, bugfix

#491 fix(deployments): deprecate `manifest_path`
  docs/data-sources/deployment.md
  docs/resources/deployment.md
  examples/resources/prefect_deployment/resource.tf
  internal/api/deployments.go
  internal/provider/datasources/deployment.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
Labels: docs, bugfix

#488 chore(tests): test several resources against Prefect OSS
  Makefile
  _about/CONTRIBUTING.md
  internal/api/deployments.go
  internal/provider/resources/automation_test.go
  internal/provider/resources/block_test.go
  internal/provider/resources/deployment.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/flow_test.go
  internal/testutils/import.go
  internal/testutils/provider.go
  scripts/testacc-oss
Labels: maintenance

#496 fix(tests): update base job template with PREFECT_CLOUD_API_URL
  internal/provider/resources/work_pool_test.go
  internal/provider/resources/work_queue_test.go
Labels: bugfix

#495 fix(deployments): deprecate `max_active_runs` field
  docs/resources/deployment_schedule.md
  examples/resources/prefect_deployment_schedule/resource.tf
  internal/provider/resources/deployment_schedule.go
  internal/provider/resources/deployment_schedule_test.go
Labels: docs, bugfix

#497 chore(tests): test all resources against OSS
  docs/resources/team_access.md
  internal/provider/resources/account_member_test.go
  internal/provider/resources/account_test.go
  internal/provider/resources/deployment_access_test.go
  internal/provider/resources/deployment_schedule_test.go
  internal/provider/resources/global_concurrency_limit_test.go
  internal/provider/resources/service_account_test.go
  internal/provider/resources/sla_test.go
  internal/provider/resources/task_run_concurrency_limit_test.go
  internal/provider/resources/team_access.go
  internal/provider/resources/team_access_test.go
  internal/provider/resources/team_test.go
  internal/provider/resources/user_api_key_test.go
  internal/provider/resources/variable_test.go
  internal/provider/resources/webhooks_test.go
  internal/provider/resources/work_pool_access_test.go
  internal/provider/resources/work_pool_test.go
  internal/provider/resources/work_queue.go
  internal/provider/resources/work_queue_test.go
  internal/provider/resources/workspace_access_test.go
  internal/provider/resources/workspace_role_test.go
  internal/provider/resources/workspace_test.go
  internal/testutils/import.go
  internal/testutils/provider.go
  scripts/testacc-oss
Labels: docs, maintenance

#498 chore(tests): add some datasource OSS tests
  internal/provider/datasources/account_member_test.go
  internal/provider/datasources/account_role_test.go
  internal/provider/datasources/account_test.go
  internal/provider/datasources/block_test.go
  internal/provider/datasources/deployment_test.go
  internal/provider/datasources/global_concurrency_limit_test.go
  internal/provider/datasources/service_account_test.go
  internal/provider/datasources/team_test.go
  internal/provider/datasources/variable_test.go
  internal/provider/datasources/work_pool_test.go
  internal/provider/datasources/work_queue_test.go
  internal/provider/datasources/worker_metadata_test.go
  internal/provider/datasources/workspace_role_test.go
  internal/provider/datasources/workspace_test.go
  scripts/testacc-oss
Labels: maintenance

#500 fix: warn on provider config, not error
  internal/provider/provider.go
Labels: bugfix

#501 chore(tests): test automation resources and datasources against OSS
  Makefile
  internal/provider/datasources/automation_test.go
  internal/provider/resources/automation_test.go
  internal/testutils/fixture.go
  scripts/testacc-oss
Labels: maintenance

#503 fix(work pools datasource): implement ID filter
  internal/api/work_pools.go
  internal/client/work_pools.go
  internal/provider/datasources/work_pool_test.go
  internal/provider/datasources/work_pools.go
Labels: bugfix

#502 feat(CI): test against OSS
  .github/workflows/acceptance-tests-oss.yaml
Labels: maintenance

#504 chore(docs): mention OSS support
  README.md
  docs/index.md
  templates/index.md.tmpl
Labels: docs
