Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2025-01, with the labels that each got.

#347 feat(client): add GetEndpointHost utility getter
  docs/resources/webhook.md
  internal/api/client.go
  internal/client/client.go
  internal/client/getters.go
  internal/client/types.go
  internal/provider/provider.go
  internal/provider/resources/webhooks.go
  internal/provider/resources/webhooks_test.go
  internal/testutils/provider.go
Labels: docs, maintenance

#348 fix(webhooks): add optional service_account_id for authZ
  create-dev-testfile.sh
  docs/data-sources/webhook.md
  docs/resources/webhook.md
  examples/resources/prefect_webhook/resource.tf
  internal/api/webhooks.go
  internal/provider/datasources/webhooks.go
  internal/provider/resources/webhooks.go
  internal/provider/resources/webhooks_test.go
Labels: docs, bugfix

#350 docs(webhook,work-pool): example for jsonencoding file input
  .pre-commit-config.yaml
  docs/resources/block.md
  docs/resources/webhook.md
  docs/resources/work_pool.md
  examples/resources/prefect_block/resource.tf
  examples/resources/prefect_webhook/resource.tf
  examples/resources/prefect_work_pool/resource.tf
Labels: docs

#351 fix(webhooks): .template attr should be normalized JSON
  internal/provider/resources/webhooks.go
Labels: bugfix

#354 chore(docs): clarify how to contribute tests
  _about/CONTRIBUTING.md
Labels: docs

#357 fix(deployments): align omitempty usage
  internal/api/deployments.go
Labels: bugfix

#355 chore(tests): add sweeper to remove workspaces
  .github/workflows/acceptance-tests-sweepers.yaml
  Makefile
  internal/client/flows.go
  internal/client/workspaces.go
  internal/sweep/sweep.go
  internal/sweep/sweep_test.go
  scripts/testacc-dev
Labels: maintenance

#360 chore/concurrency-limit-support
  docs/resources/concurrency_limit.md
  internal/api/client.go
  internal/api/concurrency_limits.go
  internal/client/concurrency_limits.go
  internal/provider/datasources/account_role_test.go
  internal/provider/provider.go
  internal/provider/resources/concurrency_limit.go
  internal/provider/resources/concurrency_limit_test.go
Labels: docs, feature

#361 fix(client): ensure urls have trailing slashes
  _about/CONTRIBUTING.md
  internal/client/deployments.go
  internal/client/flows.go
  internal/client/workspace_roles.go
  internal/client/workspaces.go
  scripts/trailing-slash-routes
Labels: bugfix

#362 fix(concurrency limits): rename and provide examples of task run concurrency limits
  docs/resources/concurrency_limit.md
  docs/resources/task_run_concurrency_limit.md
  examples/resources/prefect_task_run_concurrency_limit/resource.tf
  internal/api/client.go
  internal/api/concurrency_limits.go
  internal/api/task_run_concurrency_limits.go
  internal/client/concurrency_limits.go
  internal/client/task_run_concurrency_limits.go
  internal/provider/provider.go
  internal/provider/resources/task_run_concurrency_limit.go
  internal/provider/resources/task_run_concurrency_limit_test.go
Labels: docs, bugfix

#363 feat(global concurrency limit): resource support
  docs/resources/global_concurrency_limit.md
  examples/resources/prefect_global_concurrency_limit/resource.tf
  internal/api/client.go
  internal/api/deployments.go
  internal/api/global_concurrency_limits.go
  internal/client/global_concurrency_limits.go
  internal/provider/provider.go
  internal/provider/resources/global_concurrency_limit.go
  internal/provider/resources/global_concurrency_limit_test.go
Labels: docs, feature
