Repository PrefectHQ/terraform-provider-prefect, pull requests merged in 2025-02, with the labels that each got.

#365 chore(actions): add workflow to update mise tools
  .github/workflows/update-mise-tools.yaml
Labels: maintenance

#368 docs(deployments): address build and push actions
  docs/resources/deployment.md
  templates/resources/deployment.md.tmpl
Labels: docs

#369 chore(tests): implement state checks for resources
  internal/provider/resources/automation_test.go
  internal/provider/resources/block_test.go
  internal/provider/resources/deployment_schedule_test.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/flow_test.go
  internal/provider/resources/global_concurrency_limit_test.go
  internal/provider/resources/service_account_test.go
  internal/provider/resources/task_run_concurrency_limit_test.go
  internal/provider/resources/variable_test.go
  internal/provider/resources/webhooks_test.go
  internal/provider/resources/work_pool_test.go
  internal/provider/resources/workspace_access_test.go
  internal/provider/resources/workspace_role_test.go
  internal/provider/resources/workspace_test.go
  internal/testutils/helpers.go
Labels: maintenance

#370 chore(tests): implement state checks for datasources
  internal/provider/datasources/account_member_test.go
  internal/provider/datasources/account_role_test.go
  internal/provider/datasources/account_test.go
  internal/provider/datasources/automation_test.go
  internal/provider/datasources/block_test.go
  internal/provider/datasources/deployment_test.go
  internal/provider/datasources/service_account_test.go
  internal/provider/datasources/team_test.go
  internal/provider/datasources/variable_test.go
  internal/provider/datasources/work_pool_test.go
  internal/provider/datasources/worker_metadata_test.go
  internal/provider/datasources/workspace_role_test.go
  internal/provider/datasources/workspace_test.go
  internal/testutils/helpers.go
Labels: maintenance

#372 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE/new_resource.md
Labels: maintenance

#371 chore(tests): standardize imports and their tests
  docs/resources/automation.md
  docs/resources/block.md
  docs/resources/deployment.md
  docs/resources/flow.md
  docs/resources/global_concurrency_limit.md
  docs/resources/service_account.md
  docs/resources/task_run_concurrency_limit.md
  docs/resources/variable.md
  docs/resources/webhook.md
  docs/resources/work_pool.md
  docs/resources/workspace.md
  examples/resources/prefect_automation/import.sh
  examples/resources/prefect_block/import.sh
  examples/resources/prefect_deployment/import.sh
  examples/resources/prefect_flow/import.sh
  examples/resources/prefect_global_concurrency_limit/import.sh
  examples/resources/prefect_service_account/import.sh
  examples/resources/prefect_task_run_concurrency_limit/import.sh
  examples/resources/prefect_variable/import.sh
  examples/resources/prefect_webhook/import.sh
  examples/resources/prefect_work_pool/import.sh
  examples/resources/prefect_workspace/import.sh
  internal/provider/helpers/import_state.go
  internal/provider/resources/automation_resource.go
  internal/provider/resources/automation_test.go
  internal/provider/resources/block.go
  internal/provider/resources/block_test.go
  internal/provider/resources/deployment.go
  internal/provider/resources/flow.go
  internal/provider/resources/global_concurrency_limit.go
  internal/provider/resources/task_run_concurrency_limit.go
  internal/provider/resources/variable_test.go
  internal/provider/resources/webhooks.go
  internal/provider/resources/webhooks_test.go
  internal/provider/resources/work_pool.go
  internal/provider/resources/work_pool_test.go
  internal/testutils/import.go
Labels: docs, maintenance

#373 chore(tests): consolidate logic to get resources from state
  internal/provider/resources/automation_test.go
  internal/provider/resources/block_test.go
  internal/provider/resources/deployment_access_test.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/service_account_test.go
  internal/provider/resources/variable_test.go
  internal/provider/resources/webhooks_test.go
  internal/provider/resources/work_pool_test.go
  internal/provider/resources/workspace_access_test.go
  internal/provider/resources/workspace_role_test.go
  internal/provider/resources/workspace_test.go
  internal/testutils/import.go
Labels: maintenance

#376 chore(tests): use RenderTemplate in tests with longer templates
  _about/CONTRIBUTING.md
  internal/provider/datasources/block_test.go
  internal/provider/datasources/deployment_test.go
  internal/provider/resources/block_test.go
Labels: maintenance

#377 chore(compose): bump prefect version
  compose.yml
Labels: maintenance

#379 chore: acceptance test refactoring and docs
  _about/CONTRIBUTING.md
  internal/provider/datasources/automation_test.go
  internal/provider/datasources/block_test.go
  internal/provider/datasources/deployment_test.go
  internal/provider/resources/automation_test.go
  internal/provider/resources/block_test.go
  internal/provider/resources/deployment_access_test.go
  internal/provider/resources/deployment_schedule_test.go
  internal/provider/resources/deployment_test.go
  internal/provider/resources/flow_test.go
  internal/provider/resources/global_concurrency_limit_test.go
  internal/provider/resources/service_account_test.go
  internal/testutils/template.go
Labels: docs, maintenance

#383 feat: support basic auth
  docs/guides/getting-started.md
  docs/index.md
  internal/client/account_memberships.go
  internal/client/account_roles.go
  internal/client/accounts.go
  internal/client/automations.go
  internal/client/block_documents.go
  internal/client/block_schemas.go
  internal/client/block_types.go
  internal/client/client.go
  internal/client/collections.go
  internal/client/deployment_access.go
  internal/client/deployment_schedule.go
  internal/client/deployments.go
  internal/client/flows.go
  internal/client/global_concurrency_limits.go
  internal/client/service_accounts.go
  internal/client/task_run_concurrency_limits.go
  internal/client/teams.go
  internal/client/types.go
  internal/client/util.go
  internal/client/variables.go
  internal/client/webhooks.go
  internal/client/work_pools.go
  internal/client/workspace_access.go
  internal/client/workspace_roles.go
  internal/client/workspaces.go
  internal/provider/provider.go
  internal/provider/types.go
  templates/guides/getting-started.md
Labels: docs, feature

#385 feat(global concurrency limit): add datasource
  docs/data-sources/global_concurrency_limit.md
  examples/data-sources/prefect_global_concurrency_limit/data-source.tf
  internal/api/global_concurrency_limits.go
  internal/provider/datasources/global_concurrency_limit.go
  internal/provider/datasources/global_concurrency_limit_test.go
  internal/provider/provider.go
Labels: docs, feature

#384 feat: add support for work queues (v2)
  docs/data-sources/work_queue.md
  docs/data-sources/work_queues.md
  docs/resources/work_queue.md
  examples/data-sources/prefect_work_queue/data-source.tf
  examples/data-sources/prefect_work_queues/data-source.tf
  examples/resources/prefect_work_queue/import.sh
  examples/resources/prefect_work_queue/resource.tf
  internal/api/client.go
  internal/api/work_queues.go
  internal/client/work_queues.go
  internal/provider/datasources/work_queue.go
  internal/provider/datasources/work_queue_test.go
  internal/provider/datasources/work_queues.go
  internal/provider/provider.go
  internal/provider/resources/work_queue.go
  internal/provider/resources/work_queue_test.go
Labels: docs, feature

#382 feat(accounts): support account domains
  docs/data-sources/account.md
  docs/resources/account.md
  internal/api/accounts.go
  internal/client/accounts.go
  internal/provider/datasources/account.go
  internal/provider/resources/account.go
  internal/provider/resources/service_account.go
Labels: docs, feature

#387 chore: use default pull request template
  .github/pull_request_template.md
Labels: maintenance

#389 feat(work pools): support work pool access
  docs/resources/work_pool_access.md
  examples/resources/prefect_work_pool_access/resource.tf
  internal/api/client.go
  internal/api/work_pool_access.go
  internal/client/work_pool_access.go
  internal/provider/datasources/account_role_test.go
  internal/provider/provider.go
  internal/provider/resources/work_pool_access.go
  internal/provider/resources/work_pool_access_test.go
Labels: docs, feature

#393 fix(accounts): fix the account domains payload
  internal/api/accounts.go
  internal/client/accounts.go
  internal/provider/datasources/account.go
  internal/provider/datasources/account_test.go
  internal/provider/resources/account.go
Labels: docs, bugfix
